<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Grimorium RPG</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&family=Cinzel:wght@500;600;700&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="top-detail"></div>

        <h1 class="title">GRIMORIUM</h1>
        
        <p class="subtitle">
            O VTT para gestão de Fichas e Campanhas de D&D 5e e Tormenta20. <br>
            <span>Seja Bem Vindo!</span>
        </p>

        <div class="btn-group">
            <a href="login.html" class="btn btn-login btn-link">
                Login
            </a>
            
            <a href="singIn.html" class="btn btn-register btn-link">
                Sing In
            </a>
        </div>

        <div class="footer-text">
            É necessário realizar login para acessar as mesas e fichas.
        </div>
    </div>

    <!-- Vincula seu arquivo JavaScript -->
    <script src="script.js"></script>
</body>
</html>